
@{
    ViewBag.Title = "Меню администратора";
}

<a  href="/Admin/Products"><div  style="vertical-align:middle;  text-align:center; color:black; font-size:25pt;border-radius:5px; position:absolute; top:20%;left:10%;background-color: red;height:10%;width:30%;">Товары</div></a>
<a  href="/Admin/Categories"><div  style="vertical-align: middle; text-align: center; color: black; font-size: 25pt; border-radius: 5px; position: absolute; top: 20%; left: 50%; background-color: green; height: 10%; width: 30%; ">Категории</div></a>
<a  href="/Admin/Orders"><div style="vertical-align: middle; text-align: center; color: black; font-size: 25pt; border-radius: 5px; position: absolute; top: 40%; left: 30%; background-color: orange; height: 10%; width: 30%; ">Заказы</div></a>

